@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Inter-Bold.woff2') format('woff2'), url('../fonts/Inter-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2'), url('../fonts/Inter-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Inter-Medium.woff2') format('woff2'), url('../fonts/Inter-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Arial-Regular.woff2') format('woff2'), url('../fonts/Arial-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Onest-Medium.woff2') format('woff2'), url('../fonts/Onest-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Inter-ExtraBold.woff2') format('woff2'), url('../fonts/Inter-ExtraBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Onest-Regular.woff2') format('woff2'), url('../fonts/Onest-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Arial-Bold.woff2') format('woff2'), url('../fonts/Arial-Bold.woff') format('woff');
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-funBlue: #1a4fb0;
  --color-monza: #cc0a0a;
  --color-downriver: #0a1e50;
  --color-riverBed: #4a5560;
  --color-botticelli: #d7e2ec;
  --color-catskillWhite: #eaf1f6;
  --color-funBlue94: #1a4694;
  --color-dodgerBlue: #50b3ff;
  --color-shark: #1a1b1d;
  --color-stTropaz: #265F91;
  --color-solitude: #e3f1ff;
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
  -ms-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  /*Для .wrapper Это будет нужно для footer*/
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: var(--color-black);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

img, svg {
  display: block;
}

a {
  color: var(--color-black);
  text-decoration: none;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
/* a:visited { */
  /*color: gray; Цвет посещенных ссылок */
/* } */
a:focus {
  outline: none;
  color: var(--color-funBlue);
}
a:hover {
  color: var(--color-monza);
}
a:active {
  opacity: .7;
}

h1,
h2,
h3,
p,
a {
  /*перенос слов*/
  word-wrap: break-word;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 14px 17px 14px 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  width: max-content;
  height: max-content;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: var(--color-white);
  text-align: center;
  background: -moz-linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: -webkit-linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: -ms-linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: -o-linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btn:focus {
  outline: none;
  color: var(--color-white);
  background: -moz-linear-gradient(0deg, var(--color-funBlue)  3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
  background: -webkit-linear-gradient(0deg, var(--color-funBlue)  3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
  background: -ms-linear-gradient(0deg, var(--color-funBlue)  3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
  background: -o-linear-gradient(0deg, var(--color-funBlue)  3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
  background: linear-gradient(0deg, var(--color-funBlue)  3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
}
.btn:hover {
  color: var(--color-white);
  background: -moz-linear-gradient(0deg, #7a7676  3%, #170655 5%, var(--color-funBlue) 100%);
  background: -webkit-linear-gradient(0deg, #7a7676  3%, #170655 5%, var(--color-funBlue) 100%);
  background: -ms-linear-gradient(0deg, #7a7676  3%, #170655 5%, var(--color-funBlue) 100%);
  background: -o-linear-gradient(0deg, #7a7676  3%, #170655 5%, var(--color-funBlue) 100%);
  background: linear-gradient(0deg, #7a7676  3%, #170655 5%, var(--color-funBlue) 100%);
}
.btn:active {
  opacity: .7;
}

.btn-blue {
  color: var(--color-white);
  background: -moz-linear-gradient(0deg, var(--color-funBlue)  3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
  background: -webkit-linear-gradient(0deg, var(--color-funBlue)  3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
  background: -ms-linear-gradient(0deg, var(--color-funBlue)  3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
  background: -o-linear-gradient(0deg, var(--color-funBlue)  3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
  background: linear-gradient(0deg, var(--color-funBlue)  3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
}
.btn-blue:focus {
  background: -moz-linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: -webkit-linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: -ms-linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: -o-linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
}

.btn-transparent {
  border-radius: 8px;
  border: 1px solid var(--color-funBlue);
  color: var(--color-funBlue);
  background: -moz-linear-gradient(0deg, var(--color-catskillWhite)  3%, var(--color-catskillWhite) 5%, var(--color-catskillWhite) 100%);
  background: -webkit-linear-gradient(0deg, var(--color-catskillWhite)  3%, var(--color-catskillWhite) 5%, var(--color-catskillWhite) 100%);
  background: -ms-linear-gradient(0deg, var(--color-catskillWhite)  3%, var(--color-catskillWhite) 5%, var(--color-catskillWhite) 100%);
  background: -o-linear-gradient(0deg, var(--color-catskillWhite)  3%, var(--color-catskillWhite) 5%, var(--color-catskillWhite) 100%);
  background: linear-gradient(0deg, var(--color-catskillWhite)  3%, var(--color-catskillWhite) 5%, var(--color-catskillWhite) 100%);
}
.btn-transparent:focus {
  border: 1px solid #7a7676;
  color: var(--color-white);
  background: -moz-linear-gradient(0deg, #7a7676  3%, #7a7676 5%, #7a7676 100%);
  background: -webkit-linear-gradient(0deg, #7a7676  3%, #7a7676 5%, #7a7676 100%);
  background: -ms-linear-gradient(0deg, #7a7676  3%, #7a7676 5%, #7a7676 100%);
  background: -o-linear-gradient(0deg, #7a7676  3%, #7a7676 5%, #7a7676 100%);
  background: linear-gradient(0deg, #7a7676  3%, #7a7676 5%, #7a7676 100%);
}
.btn-transparent:hover {
  border: 1px solid var(--color-monza);
  color: var(--color-white);
  background: -moz-linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: -webkit-linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: -ms-linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: -o-linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: linear-gradient(0deg, var(--color-monza)  3%, var(--color-monza) 5%, var(--color-monza) 100%);
}

.wrapper {    
  min-height: 100%;
  overflow: hidden;
  /* overflow: hidden; не любить sticky */
}

/* Для семантики если нет заголовка h1 в вёрстке. Ставим скрытый заголовок. */
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

[class*="container"] {
  margin: 0 auto;
  padding: 0 76px;
  /*1796px = 1696px + 50px + 50px не менять*/
  max-width: 1796px;
}

.h2 {
  font-size: clamp(28px, 5vw, 40px);
}

.h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.h4 {
  font-weight: 700;
  font-size: 22px;
}

.desc {
  font-size: clamp(15px, 5vw, 18px);
  line-height: 1.6;
}

.burger {
  position: relative;
  display: none;
  border: 1px solid transparent;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  background: -moz-linear-gradient(0deg, var(--color-funBlue) 3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
  background: -webkit-linear-gradient(0deg, var(--color-funBlue) 3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
  background: -ms-linear-gradient(0deg, var(--color-funBlue) 3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
  background: -o-linear-gradient(0deg, var(--color-funBlue) 3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
  background: linear-gradient(0deg, var(--color-funBlue) 3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
  outline: 3px solid transparent;
  z-index: 11;
  order: -1;
}
.burger:focus {
  background: -moz-linear-gradient(0deg, var(--color-monza) 3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: -webkit-linear-gradient(0deg, var(--color-monza) 3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: -ms-linear-gradient(0deg, var(--color-monza) 3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: -o-linear-gradient(0deg, var(--color-monza) 3%, var(--color-monza) 5%, var(--color-monza) 100%);
  background: linear-gradient(0deg, var(--color-monza) 3%, var(--color-monza) 5%, var(--color-monza) 100%);
}
.burger:hover {
  color: var(--color-white);
  background: -moz-linear-gradient(0deg, #7a7676 1.25%, #170655 1.25%, var(--color-funBlue) 100%);
  background: -webkit-linear-gradient(0deg, #7a7676 1.25%, #170655 1.25%, var(--color-funBlue) 100%);
  background: -ms-linear-gradient(0deg, #7a7676 1.25%, #170655 1.25%, var(--color-funBlue) 100%);
  background: -o-linear-gradient(0deg, #7a7676 1.25%, #170655 1.25%, var(--color-funBlue) 100%);
  background: linear-gradient(0deg, #7a7676 1.25%, #170655 1.25%, var(--color-funBlue) 100%);
}
.burger:active {
opacity: .7;
}
.burger span {
  display: block;
  position: absolute;
  left: 21%;
  height: 3px;
  width: 63%;
  background: var(--color-white);
  border: 1px solid transparent;
  border-radius: 8px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/*Палочки*/
.burger span:nth-child(1) {
  top: 9px;
}
.burger span:nth-child(2) {
  top: 17px;
}
.burger span:nth-child(3) {
  top: 24px;
}
.burger span {
  background: var(--color-white);
  /*left: auto; Зеркалить поворот*/
  right: 0;
  transition: all .4s ease-in-out;
}
/*Крест*/
.burger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  left: 50%;
  width: 70%;
  margin-top: -2px;
  margin-left: -35%;
}
.burger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 50%;
  left: 50%;
  width: 70%;
  margin-top: -2px;
  margin-left: -35%;
}

/* В шапке соц.сети */
.social__list {
  display: flex;
}
.social__item:not(:last-child) {/*кроме последнего*/
  margin-right: 13px;  
}
.social__link:focus svg {
  outline: 1px solid var(--color-funBlue);
}
.social__link:hover {
  opacity: .5;
}
.social__link:active {
  opacity: .3;
}
/* // В шапке соц.сети */


/***Шапка header-1796px***/
.header {
  position: relative;
  padding: 45px 0;
  z-index: 1;
}
.header__container {
  padding: 0 35px 0 92px;
}
.header__box-shadow {
  padding: 8px 30px 4px 0;
  border-top: 1px solid var(--color-botticelli);
  box-shadow: 0px 16px 24px 0px rgba(0, 10, 28, 0.16);
}

/* -- header__top -- */
.header__top {
  display: flex;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--color-botticelli);
}
.header__logo {
  margin: auto auto auto 12px;
}
.header__logo:focus {
  outline: 2px solid var(--color-funBlue);
  outline-offset: 5px;
}
.header__logo:hover {
  opacity: .5;
}
.header__social {
  margin: 13px 18px 0;
}
.header__info {
  margin: 8px 15px 0 0;
  text-align: right;
}
.header__phone {
  font-size: 18.7px;
}
.header__schedule {
  margin: 0;
  font-size: 14px;
  color: var();
}
.header__phoneBtn {
  margin: 4px 25px 0 0;
}

/* -- header__bottom -- */
.header__bottom {
  display: flex;
  padding: 0 28px 0 12px;
}
.header__nav {
  position: relative;
  display: flex;
  margin-right: auto;
}
.header__list {
  display: flex;
  z-index: 1;
}
.header__item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.header__item:not(:last-child) {/*кроме последнего*/
  margin-right: 24px;
}
.header__item:nth-child(2) {/*второй элемент*/
  margin-top: 2px;
  margin-right: 19px;
}
.header__item:nth-child(3) {/*третий элемент*/
  margin-top: 2px;
  margin-right: 22px;
}
.header__item:nth-child(4) {/*четвёртый элемент*/
  margin-top: 2px;
  margin-right: 20px;
}
.header__item:nth-child(5) {/*пятый элемент*/
  margin-top: 2px;
  margin-right: 22px;
}
.header__item:nth-child(6) {/*шестой элемент*/
  margin-top: 2px;
}
.header__btn {
  display: flex;
  align-items: center;
  padding: 0;
  outline: none;
  border: 1px solid transparent;  
  width: 75px; /* чтобы кнопка не прыгала при изменении иконки */
  background-color: transparent;
  cursor: pointer; 
  -webkit-transition: color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out;
  -ms-transition: color .4s ease-in-out;
  -o-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out; 
}
.header__btn:focus {
  color: var(--color-funBlue);
}
.header__btn:hover {
  color: var(--color-monza);
}
.header__btn:active {
  opacity: .7;
}
.header__btn_after::after {
  content: "";
  display: inline-block;
  margin: -4px 0 0 6px;
  border-top: 1px solid;
  border-right: 1px solid;
  width: 6.5px;
  height: 6.5px;
  transform: rotate(135deg);
  transition: transform .5s;  
  transition-property: background-color;
  transition: .3s ease-in-out;
}

/*Поворот стрелка*/
.header__btn_after.active--btn::after {
  content: "";
  margin-top: 1px;
  border-right: none;
  border-bottom: 1px solid;
  width: 14px;
  height: 5px;
  transform: rotate(359deg);  
} 
.header__item_js {
  position: relative;
}
.header__btn_js:focus-visible {
  outline: 0;
}
.header__btn_js:active {
  background-color: rgba(0,0,0, 0.2);
}
.header__dropdown {
  position: absolute;
  top: 78px;  
  left: -12px;
  padding: 16px 0 20px;
  border-radius: 20px;
  width: 343px;  
  background-color: var(--color-white);
  transform: scale(0.9) translateY(-10px);
  opacity: 0;
  transform-origin: top right;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.3s ease;
  z-index: 20;
  pointer-events: none; /* Чтобы скрытый блок не мешал кликать */
} 
.header__dropdown.active-list--item {
  display: block; /* Оставляем только для переопределения, если нужно */
  transform: scale(1) translateY(0);
  opacity: 1;
  pointer-events: auto; /* Включаем клики, когда открыт */
}
.header__dropdown-list {
  background-color: var(--color-white);
}
.header__dropdown-item {
  padding: 0 20px;
}
.header__dropdown-item:not(:last-child) {/*кроме последнего*/
  margin-bottom: 33px;
}
.header__dropdown-item:nth-child(2) {/*второй элемент*/
  margin-bottom: 32px;
}
.header__dropdown-item:nth-child(3) {/*третий элемент*/
  margin-bottom: 31.8px;
}
.header__dropdown-item:nth-child(5) {/*пятый элемент*/
  margin-bottom: 32px;
  line-height: 22px;
}
.header__dropdown-item:nth-child(6) {
  line-height: 23px;
}
.header__dropdown-item:nth-child(6) .header__dropdown-desc {
  margin: 2px 0 0 0;
}
.header__dropdown-item:nth-child(7) {
  margin-bottom: 13px;
  line-height: 23px;
}
.header__dropdown-item:nth-child(7) .header__dropdown-desc {
  margin: 3px 0 0 0;
}
.header__dropdown-item.line {
  padding: 22px 30px 0 23px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.header__dropdown-link {  
  display: inline-flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-funBlue);
  outline: none;
  -webkit-transition: background-color .4s ease-in-out, color .4s ease-in-out;
  -moz-transition: background-color .4s ease-in-out, color .4s ease-in-out;
  -ms-transition: background-color .4s ease-in-out, color .4s ease-in-out;
  -o-transition: background-color .4s ease-in-out, color .4s ease-in-out;
  transition: background-color .4s ease-in-out, color .4s ease-in-out;
}
.header__dropdown-link:focus {
  color: var(--color-monza);
}
.header__dropdown-link:focus svg path {
  stroke: var(--color-monza);
}
.header__dropdown-link:hover {
  color: gray;
}
.header__dropdown-link:hover svg path {
  stroke: gray;
}
.header__dropdown-link:active, .header__dropdown-link:active svg path {
  opacity: .7;  
}
.active-list--item {
  display: block;
}
.header__dropdown-desc {
  margin: 5px 0 0 0;
  font-weight: 400;
  font-size: 13px;
  color: var(--color-riverBed);
}
.header__arrowText {
  display: grid;
  grid-template-columns: 85px 1fr;
  margin-top: -2px;
}
.header__stars {
  display: flex;
  align-items: center;
}
.header__stars img {
  width: 16px;
  height: 16px;
}
.header__desc {
  margin: 0;
  font-size: 19px;
}
/* По умолчанию (десктоп) — виден только .header__phoneBtn .text */
.header__phoneBtn .mobile {
  display: none;
}
/*** // Шапка header-1796px // ***/

/*** hero-1796px ***/
.hero {
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  top: 55px;
  right: 64px;
  max-width: 44.66%;
  background: center / cover no-repeat;
  background-image: url("../img/citizen.png");
  min-height: 437px;
  width: 100%;
  z-index: -1;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.hero__content {
  padding-left: 5px;  
  flex-basis: 1144px;
}
.hero__h2 {
  margin-bottom: 27px;
  font-size: clamp(39px, 5vw, 58px);
  line-height: 1.11;
  color: var(--color-funBlue);
}
.hero__h2 span {
  white-space: nowrap;/* Цифра и текст не разделятся */
}
.hero__desc {
  width: 74%;
  line-height: 25px;
  letter-spacing: .37px;
}
/*** // hero-1796px // ***/

/*** services-1796 ***/
.services {
  padding-bottom: 64px;
}
.services__container {
  padding: 0 84px;
}
.services__h2 {
  margin: 6px 0 23px;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-funBlue);
}
.services__info {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 39px;
  flex: 1 1 77%; /* занимает 60% места, но может сжиматься */
} 
.services__item {
  flex: 1 1 calc(50% - 20px); /* две колонки с отступом */
  min-width: 500px; /* когда ширина становится меньше 300px — переносится */
}
.services__card {
  display: flex;
  flex-direction: column; /* всё в столбик */
  border-radius: 40px;
  padding: 3px 38px 19px;
  height: 100%; /* растягиваем карточку на всю высоту */
  background: var(--color-botticelli);
}
.services__h3 {
  color: var(--color-dodgerBlue);
}
.services__h4 {
  margin: 7px 0 0;
}
.services__desc {
  margin-bottom: 23px;
  padding-right: 16px;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: .37px;
}
.services__desc:last-child {
  flex: 1; /* текст занимает всё свободное место */
  margin-bottom: 20px;
}
.services__links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: auto; /* прижимает кнопку вниз */
}
.services__link {
  display: inline-flex;/*Для стрелки - Решение для работодателей*/
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.services__link-666 {
  display: none;
}
.services__offices {
  margin: auto 0 0;
  padding: 17px 20px 15px 20px;
  border-radius: 20px;
  border: 1px solid var(--color-stTropaz);
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-shark);
  text-transform: uppercase;
  flex: 1 1 250px; /* занимает место, но не меньше 250px */
  min-width: 250px;
  max-width: 400px; /* не раздувается */
}
.services__offices h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
}
.services__offices p {
  margin: 11px 0 0;
  line-height: 34px;
}
.services__offices span {
  white-space: nowrap;
}
/*** // services-1796 // ***/

/*** advantages-1796 ***/
.advantages {
  padding: 64px 0;
}
.advantages__container {
}
.advantages__title {
}
.advantages__list {
  display: grid;
  grid-template-columns: 26.3% 20.7% 26.05% 22%;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid var(--color-botticelli);
  width: 1134px;
}
.advantages__item {
  display: flex;
  padding: 19px 0 19px 19px;
}
.advantages__item:not(:last-child) .advantages__card {/*кроме последнего*/
  border-right: 1px solid var(--color-botticelli);
}
.advantages__icon {
  padding: 10px;
  border-radius: 12px;
  flex-shrink: 0; /* Запрещает иконке уменьшаться и деформироваться */  
  /* Ваши текущие стили (например, width, height) */
  width: 44px;   
  height: 44px;
  background-color: var(--color-solitude);
}
.advantages__card {
  padding: 0 0 0 20px;
}
.advantages__h3 {
  margin: 6px 0 20px;
  font-size: clamp(25px, 5vw, 30px);  
}
.advantages__desc {
  margin-bottom: 0;
  line-height: 26px;
}
.advantages__desc span {
  white-space: nowrap;/* Цифра и текст не разделятся */
}
.advantages__desc_line-21 {
  line-height: 21px;
}
.advantages__desc_line-18 {
  line-height: 18px;
}
/*** // advantages-1796 // ***/

/*** footer-1796 ***/
.footer {
  padding: 30px 0;
  background: var(--color-botticelli);
  text-align: center;
  font-size: 14px;
  color: var(--color-riverBed);
}
/*** // footer-1796 // ***/

@media (max-width: 1780px) {
  [class*="container"] {
    padding: 0 50px;
  }

  .services {
    padding: 200px 0 50px;
  }
  .services__item {
    min-width: 660px; /* когда ширина становится меньше 300px — переносится */
  }
  .services__offices {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 1380px) {
  [class*="container"] {
    padding: 0 30px;
  }

  .header {
    padding: 25px 0;
  }

  .hero::after {
    right: -45px;
    max-width: 750px;
    background-size: contain;
  }
  .hero__content {
    padding-left: 0;
    flex-basis: 100%;
  }

  .services__list, .services__item {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box; /* чтобы паддинги не вылезали */
  }

  .advantages__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
  }
  .advantages__item {
    padding: 15px;
  }
  .advantages__item:not(:last-child) {
    border-right: 1px solid var(--color-botticelli);
    border-bottom: 1px solid var(--color-botticelli);
  }
  .advantages__item:not(:last-child) .advantages__card {
    border-right: none;
  }
  .advantages__card {
    padding: 0 20px;
  }
  .advantages__desc {
    line-height: 26px;
  }
  .advantages__desc span {
    white-space: normal;
  }
}

@media (max-width: 1111px) {
  .header__arrowText {
    display: none;
  }

  .advantages {
    padding: 10px 0;
  }
  .advantages__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .advantages__item:not(:last-child) {
    border-right: none;
  }

}

@media (max-width: 888px) {
  [class*="container"] {
    padding: 0 16px;
  } 

  .header__box-shadow {
    padding: 0;
  }
  .header__top{
    border: 0;
  }
  .header__social, .header__info {
    display: none;
  }
  .header__phoneBtn {
    margin: 12px 12px 0 0;
  }
  .header__bottom {
    padding: 0 28px 12px 12px;
  }

  .hero::after {
    right: 0;
    max-width: 550px;
  }
}

@media (max-width: 666px) {   
  .burger {
    position: absolute;
    right: 1px;
    display: block;
  }
  .menu {
    transition: transform .7s ease-in-out;
    transform: translateY(-333%);
  }
  .menu.is-active {
    transform: none;
  }

  .header {
    padding: 0;
    z-index: 10;
  }
  .header__container {
    padding: 16px 0 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--color-botticelli);
  }
  .header__box-shadow {
    padding: 0 16px 16px 16px;
    border-top: none;
    box-shadow: inherit;
  }
  .header__top {
    position: relative;/*Для бургера*/
    margin: 0;
  }
  /* На мобилке (например, до 666px) — меняем местами */
  .header__phoneBtn {
    margin: 0 61px 0 0;
    padding: 9px 8px 8px 9px;
    border-radius: 8px;
    background: -moz-linear-gradient(0deg, var(--color-funBlue) 3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
    background: -webkit-linear-gradient(0deg, var(--color-funBlue) 3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
    background: -ms-linear-gradient(0deg, var(--color-funBlue) 3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
    background: -o-linear-gradient(0deg, var(--color-funBlue) 3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
    background: linear-gradient(0deg, var(--color-funBlue) 3%, var(--color-funBlue) 5%, var(--color-funBlue) 100%);
    z-index: 11;
  }
  .header__phoneBtn:focus {
    background: -moz-linear-gradient(0deg, var(--color-monza) 3%, var(--color-monza) 5%, var(--color-monza) 100%);
    background: -webkit-linear-gradient(0deg, var(--color-monza) 3%, var(--color-monza) 5%, var(--color-monza) 100%);
    background: -ms-linear-gradient(0deg, var(--color-monza) 3%, var(--color-monza) 5%, var(--color-monza) 100%);
    background: -o-linear-gradient(0deg, var(--color-monza) 3%, var(--color-monza) 5%, var(--color-monza) 100%);
    background: linear-gradient(0deg, var(--color-monza) 3%, var(--color-monza) 5%, var(--color-monza) 100%);
  }
  .header__phoneBtn .text {
    display: none;
  }
  .header__phoneBtn .mobile {
    display: inline-block;
  }
  /* // На мобилке (например, до 666px) — меняем местами */
  .header__bottom {
    padding: 0;
  }
  .header__nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    background-color: var(--color-white);
    z-index: -1;
  } 
  .header__list {
    flex-direction: column;
  } 
  .header__item:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .header__dropdown {
    top: 28px;
    left: auto;
    right: 0;
    padding: 16px 0;
    width: 100%;
    max-width: 444px; /* чтобы на больших мобилках не расползался */
  }
  .header__dropdown-item {
    padding: 0 13px;
  }
  .header__dropdown-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .header__dropdown-item.line {
    padding: 10px;
  }
  .header__dropdown-link {
    gap: 5px;
    font-size: 18px;
  }  

  .hero {
    padding-top: 217px;
  }
  .hero::after {
    top: 22px;
    min-height: 232px;
    background: url("../img/citizen-mobile.png") center / cover no-repeat;
  }
  .hero__container {
    display: block;
  }
  .hero__h2 {
    line-height: 40px;
    margin-bottom: 19px;
  }
  .hero__h2 span {
    white-space: normal;
  }
  .hero__desc {
    margin-bottom: 0;
    width: 100%;
    line-height: 24.3px;
  }

  .services {
    padding: 0 0 11px;
  }
  .services__list {
    gap: 14px;
        gap: 18px;
  }
  .services__item {
    min-width: 100%;
  }  
  .services__card {
    padding: 3px 22px 20px 33px;
        padding: 2px 31px 20px 33px;
  }
  .services__h3 {
    margin-bottom: 17px;
        margin-bottom: 18px;
  }
  .services__h4 {
    margin: 0;
    font-weight: 600;
    font-size: 20.7px;
    line-height: 28px;
  }
  .services__desc {
    margin: 16px 0 25px;
    padding-right: 0;
    line-height: 24px;
    letter-spacing: -1px;
  }
  .services__links {
        gap: 16px;
  }
  .services__link {
    padding-bottom: 17px;
    padding-right: 12px;
    border-radius: 8px;
    width: 100%;
          padding: 15px 12px 17px 25px;
          font-size: 16.5px;
  }
  .services__link-transparent666 {
    gap: 15px;
        margin-left: -6.9px;
        margin-bottom: 3px;
    padding: 16px 0 0px;
    width: max-content;
    font-size: 17px;
    color: var(--color-funBlue94);
    background: none;
  }
  .services .services__link-transparent666.btn-blue:focus {
    color: var(--color-monza);
    background: none;
  }
  .services .services__link-transparent666.btn-blue:hover {
    color: #7a7676;
    background: none;
  }
  .services .services__link-transparent666.btn-blue svg path {
    stroke: var(--color-funBlue94);
  }
  .services .services__link-transparent666.btn-blue:focus svg path {
    stroke: var(--color-monza);
  }
  .services .services__link-transparent666.btn-blue:hover svg path {
    stroke: #7a7676;
  }
  .services__link-666 {
    display: block;
  }
  .services__info {
    gap: 19px;
        gap: 24px;
  } 
  .services__offices h3 {
    font-size: 14.3px;
    line-height: 21px;
  }
  .services__offices p {
    margin: 17px 0 15px;
    font-size: 14px;
    line-height: 21px;
  }

  .advantages__item {
    padding: 17px 12px 10px;
  }
  .advantages__card {
    padding: 0 20px 0 15px;
  }
  .advantages__h3 {
    margin: 3px 0 5px;
  }
  .advantages__desc {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
  }
  .advantages__desc_line-18 {
    line-height: 22px;
  }
}

@media (max-width: 400px) {
  .services__offices {
    padding: 17px 20px 7px 20px;
    text-align: start;
  }

  .advantages__item {
    padding: 17px 2px 5px 12px;
  }
  .advantages__item--pt-13 {
    padding-top: 13px;
  }
  .advantages__item--pt-27 {
    padding-top: 27px;
  }
  .advantages__item--pt-27 .advantages__h3 {
    margin-bottom: 10px;
  }
  .advantages__card {
    padding: 0 8px 0 15px;
  }
  .advantages__desc_line-22 {
    margin: 11px 0 7px;
    line-height: 20px;
  }
}